.servicename {
  position: absolute;
  top: 20px;
  font-weight: 700;
  font-size: 20px;
}
.serviceInfo {
  margin-top: 4.5%;
  line-height: 100%;
}
.serviceInfo .publish {
  /* position: absolute;
  bottom: 30%; */
}
.serviceInfo .publishUrl {
  /* 单行超出2省略 */
}
.delete {
  position: absolute;
  top: 8%;
  right: 2%;
}
